<div class="info-window row">
  <h6><%= user.first_name %> rental proposals</h6>
    <p> Call him on: <%=user.phone_number %></p>
  <% user.devices.each do |device|%>
  <div class="devices-proposal">
    <% if device.photo.attachment %>
        <div class="proposal">
        <%= cl_image_tag device.photo.key, height: 50, width: 50, crop: :fill %>
        </div>
    <h6><%= link_to device.name, device_path(device) %></h6>
    <% end %>
  </div>
  <% end %>
</div>
