<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1463183427169-5df5a06d5447?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h1>Our mervellous team is working very hard to create this website!</h1>
    <p>See you soon !!!</p>
    <%= link_to "Apply now", devices_path, class: 'btn btn-primary' %>
  </div>
</div>
