.btn-detail {
  border-radius: 25px;
  color: white;
  background-color: $red ;
  text-align: center;
  vertical-align: middle;
  padding: 0.5em 1em;
  margin: 0.2em;
  height: 2.5em;
  display: flex;
  justify-content: space-between;
  border: solid 0.1em $red;

  &:hover {
    background-color: white;
    color: $red;
    border: solid 0.1em $red;
    text-decoration: none;
  }

}


