.btn-detail {
  border-radius: 10px;
  color: white;
  background-color: #1f6f8b ;
  text-align: center;
  vertical-align: middle;
  padding: 8px 8px;

  &:hover {
    transform: perspective(1px) translateZ(0);
    transition-property: color;
    transition-duration: 0.3s;
  }

  & a {
    text-decoration: none;
  }
}
