.navbar-lewagon {
  justify-content: space-between;
  background: white;
  align-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-title {
  padding-left: 80px;
  font-family: $font2;
  font-size: 30px;
}

.search-form {
  width: 40em;
  padding: 0.5em;
  height: 4em;
  align-items: start;

  & .fields {
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 3.3em;
  align-items: center;

    & .search-input {
      margin-left: 1em;
      height: 2.5em;
      align-items: start;

    }
  }

  & .form-control {
    border-radius: 25px;
  }
}
