// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "flatpickr/dist/flatpickr";

h1 h2 h4 {
  font-family: $font1;
}

p {
  font-family: $font2;
}

.grid {
  display : grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  & img {
    border-radius: 10px 0px 0px 0px;
  }
}

.card-title {
  font-weight: bold;
}

.action {
  padding: 20px 20px;
}

.row {
  border-bottom: 1px solid silver;
}

.add-device {
  & a {
      text-decoration: none;
  }
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  font-family: $font1;
}

.description-rental {
  background-color: white;
  border : 3px solid silver;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.accept-refuse {
  padding-left: 350px;
  position: absolute;
  bottom : 0;
  right: 0;
  padding-right: 30px;
  padding-bottom: 23px;
}
