// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "flatpickr/dist/flatpickr";

h1 h2 h4 {
  font-family: $font1;
}

p {
  font-family: $font2;
  font-size: 1.3em;
  font-weight: lighter;
  line-height: 0.8em;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  font-family: $font1;
}

.description-rental {
  background-color: white;
  border : 3px solid silver;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.accept-refuse {
  padding-left: 350px;
  position: absolute;
  bottom : 0;
  right: 0;
  padding-right: 30px;
  padding-bottom: 23px;
}
